* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    text-size-adjust: 100%;
}

.wrap {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.wrap p {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.wrap p span {
    font-size: 2rem;
    color: red;
}

.wrap .square{
    width: 30px;
    height: 30px;
    border: 1px solid #bbb;
}

.square.active {
    background-color: pink;
}
.square.stay {
    background-color: red;
}

.wrap .outer{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrap .line{
    display: flex;
}

.block {
    width: 30px;
    height: 30px;
    background-color: red;
}

button {
    background-color: red;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
}

.area {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}